body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
.banner-badge {
  top: 240px;
  left: 60px;
}
.banner-description {
  word-spacing: 0.2rem;
}
.main-button {
  background: linear-gradient(90deg, #ff8637, #ff0100);
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
}
.main-button:hover {
  background: white;
  border: 1px solid #ff0100;
  color: #ff0100;
}
.products .card {
  background: linear-gradient(
    rgba(211, 210, 219, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.fresh-tea .images1,
.fresh-tea .images2,
.fresh-tea .images3,
.fresh-tea .images4 {
  padding: 30px;
}
.fresh-tea .images1 {
  background: linear-gradient(
    90deg,
    rgba(255, 185, 114, 1) 0%,
    rgba(255, 230, 218, 1) 100%
  );
}
.fresh-tea .images2 {
  background-color: #fcf6e9;
}
.fresh-tea .images3 {
  background-color: #eef1eb;
}
.fresh-tea .images4 {
  background: linear-gradient(
    90deg,
    rgba(185, 185, 185, 1) 0%,
    rgba(246, 246, 246, 1) 100%
  );
}
