body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
.banner-badge {
  top: 240px;
  left: 60px;
}
.banner-description {
  word-spacing: 0.2rem;
}
.main-button {
  background: linear-gradient(90deg, #ff8637, #ff0100);
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
}
.main-button:hover {
  background: white;
  border: 1px solid #ff0100;
  color: #ff0100;
}
